@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Store Manager</h1>
    <p class="lead">Welcome to my Video Store manager application. This was a larger scale project that I undertook to really be able to learn
    and touch upon every part of a full stack application. This project was built using ASP.NET, MVC, and Entity Framework. This includes HTML, CSS,
    Javascript, JQuery, AJAX, C#, and SQL Server.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You must login to be able to use the application. There are two different kinds of accounts that I have made for this application. There is 
            an administrator account, which has more permissions, and a regular employee account. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Account Credentials</h2>
        <p>Email: admin@domain.com</p>
        <p>Password: Password1!</p>
    </div>
    <div class="col-md-4">
        <h2>Employee Account Credentials</h2>
        <p>Email: guest@domain.com</p>
        <p>Password: Password1!</p>
    </div>
</div>